.signupForm {
  width: 100%;
  height: 100%;

  h1 {
    font-family: "Limelight", cursive;
    font-size: 60px;
    margin-top: 36px;
    margin-bottom: 25px;
  }
  .domain-field {
    width: 200px;
    height: 30px;
  }
  .form-content {
    background: #faf3dc;
    border-radius: 0 0 86px 86px;
    display: flex;
    width: 100%;
    height: 677px;
    flex-direction: column;

    .custom-form {
      display: flex;
      flex-direction: column;
      .input-group {
        display: flex;
        flex-direction: column;
        .input-row {
          font-family: "Poppins";
          display: flex;
          // align-items: center;
          justify-content: center;
          padding-top: 15px;
          .input-unit {
            display: flex;
            flex-direction: column;
            width: 29%;
            span {
              margin: 0 auto;
              margin-top: auto;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */
              color: #797979;
            }
            a {
              margin-bottom: auto;
              box-sizing: border-box;
              /* Auto layout */
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 6px 16px;

              width: 116px;
              height: 33px;
              color: #ffffff;

              background: #ff9ba8;
              border: 1px solid #ff9ba8;
              border-radius: 100px;
              margin: 0 auto;
              cursor: pointer;
              white-space: nowrap;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              /* identical to box height */

              text-align: center;
            }
            .phone-number {
              display: flex;
              .PhoneInputCountrySelectArrow {
                display: none;
              }
              .PhoneInput {
                width: 100%;
              }
              .PhoneInputCountryIcon {
                img {
                  display: none;
                }
                content: attr(8544);
              }
              .phone-input__input::before {
                content: attr(data-dial-code);
                position: absolute;
                top: 50%;
                left: 12px;
                transform: translateY(-50%);
                font-weight: bold;
              }
            }
            input {
              border-radius: 8px;
              border: none;
              width: 100%;
              height: 40px;
              padding: 12px 11px 8px;
              font-family: Poppins;
              font-weight: 500;
              font-size: 14px;
              color: #797979;
              font-style: normal;
            }
            input:focus {
              outline: none;
            }
            label {
              display: flex;
              text-align: left;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 5px;
              color: #363636;
              white-space: nowrap;
              align-items: center;
              .verified {
                display: flex;
                margin-left: 10px;
              }
            }
            p {
              font-weight: 400;
              font-size: 12px;
              color: #ff334d;
            }
          }
        }
      }
      .signup-button {
        margin-top: 25px;
        button {
          border-radius: 100px;
          border: 1px solid #ff9ba8;
          background: #ff9ba8;
          font-weight: 500;
          font-size: 14px;
          padding: 14px 41px;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
    .form-spliter {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-family: Poppins;
      color: #7b7b7b;
      margin: 48px 0;
      justify-content: center;
      .spliter {
        width: 33%;
      }
    }
  }
  .social-form {
    display: flex;
    flex-direction: column;
    .myCustomButton {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;
      color: #2a413b;
      border: none;
      border-radius: 2px;
      box-shadow: none;
      cursor: pointer;
      transition: background 0.3s;
    }

    .myCustomButton:hover {
      background: #c7defd;
      color: #2a413b;
    }

    .myCustomButton:disabled {
      background: #ececec;
      color: #aaa;
      cursor: not-allowed;
    }

    .social-button {
      width: 40%;
      margin: auto;
      background: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 6px;
      font-family: Poppins;
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 8px;
      cursor: pointer;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 0;
      }
    }
    .to-signin {
      margin-top: 25px;
      font-family: Poppins;
      font-weight: 400;
      font-size: 14px;
      color: #000000;
      a {
        font-weight: 600;
        color: #ff334d;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .input-unit {
    width: 45% !important;
  }
}
