.reset-password-wrapper {
  background-repeat: round;
  background: #fdfaef;
  // width: 100%;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  h1 {
    font-family: "Limelight", cursive;
    font-size: 60px;
    margin-top: 36px;
    margin-bottom: 25px;
  }
  .form-content {
    background: #faf3dc;
    padding: 0 67px;
    border-radius: 0 0 86px 86px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    .domain-field {
      width: 200px;
      height: 30px;
    }
    .custom-form {
      display: flex;
      flex-direction: column;
      .input-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        .input-row {
          font-family: "Poppins";
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          .input-unit {
            display: flex;

            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            position: relative;
            .eye {
              position: absolute;
              right: 15%;
            }

            .phone-number {
              display: flex;
            }
            h4 {
              margin: 0;
              margin-top: 10px;
            }
            margin-top: 20px;
            input {
              border-radius: 8px;
              border: none;
              width: 80%;
              height: 40px;
              padding: 12px 11px 8px;
              font-family: Poppins;
              font-weight: 500;
              font-size: 14px;
              color: #797979;
              font-style: normal;
            }
            label {
              text-align: center;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              margin: 20px 0;
              color: #474747;
            }
            p {
              font-weight: 500;
              font-size: 16px;
              color: #363636;
              text-align: left;
              margin-left: 10%;
              margin-right: auto;
              margin-top: 0;
              margin-bottom: 5px;
            }
          }
        }
      }
      .signup-button {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
          border-radius: 100px;
          border: 1px solid #ff9ba8;
          background: #ff9ba8;
          font-weight: 500;
          font-size: 14px;

          color: #ffffff;
          cursor: pointer;
          width: 160px;
          height: 50px;
          margin-bottom: 12px;
        }
        p {
          font-family: Poppins;
          font-weight: 500;
          font-size: 14px;
          color: #797979;
          font-style: normal;
          a {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: #343434;
            cursor: pointer;
          }
        }
        h5 {
          font-weight: 400;
          a {
            color: #ff334d;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1500px) {
  .form-content {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1100px) {
  .input-unit {
    width: 45% !important;
  }
}
